# Dovecot config
# Note that in the dovecot conf, you can use:
# %u for username
# %n for the name in name@domain.tld
# %d for the domain
# %h the user's home directory

ssl = required
ssl_cert = <{{ certdir }}/fullchain.pem
ssl_key = <{{ certdir }}/privkey.pem
ssl_min_protocol = TLSv1.2
ssl_prefer_server_ciphers = yes
ssl_dh = <{{ prefix }}/etc/dovecot/dh.pem
auth_mechanisms = plain login
auth_username_format = %n
listen = *


protocols = $protocols imap

# Search for valid users in /etc/passwd
userdb {
	driver = passwd
}

#Fallback: Use plain old PAM to find user passwords
passdb {
{% if ansible_system == "OpenBSD" %}
    driver = bsdauth
{% else %}
    driver = pam
{% endif %}
}

# Our mail for each user will be in ~/Mail, and the inbox will be ~/Mail/Inbox
# The LAYOUT option is also important because otherwise, the boxes will be \`.Sent\` instead of

mail_location = maildir:~/Mail:INBOX=~/Mail/Inbox:LAYOUT=fs
namespace inbox {
	inbox = yes
	mailbox Drafts {
	special_use = \Drafts
	auto = subscribe
}
	mailbox Junk {
	special_use = \Junk
	auto = subscribe
	autoexpunge = 30d
}
	mailbox Sent {
	special_use = \Sent
	auto = subscribe
}
	mailbox Trash {
	special_use = \Trash
}
	mailbox Archive {
	special_use = \Archive
}
}

protocol lda {
  mail_plugins = $mail_plugins sieve
}

protocol lmtp {
  mail_plugins = $mail_plugins sieve
}

protocol imap {
  
  mail_plugins = $mail_plugins imap_sieve
  mail_max_userip_connections = 25
}
